# Dependências
node_modules/
backend/node_modules/

# Build
dist/

# Variáveis
.env
backend/.env
backend/fastapi_app/.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# Modelos gerados pela ia
backend/fastapi_app/models/*.pkl

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
~$*.docx

# Lock files
package-lock.json
